@model Profile

@using (Html.BeginForm("ResetPassword", "Auth", FormMethod.Post, new { @class = "form" }))
{
    <h2 class="form__title">Сброс пароля</h2>
    <p class="form__help">Чтобы сбросить пароль, пожалуйста введите CinemaGuide логин</p>
    @Html.Editor("login", new { htmlAttributes = new { placeholder = "Логин", @class = "form__input" } });
   
    <button class="form__submit" type="submit">сбросить пароль</button>
}

