@model Profile

@using (Html.BeginForm("Login", "Auth", FormMethod.Post, new { @class = "form" }))
{
    <h2 class="form__title">Авторизоваться</h2>

    @Html.Partial("Credentials")

    <a class="form__help" href="/auth/forgot_password">Забыли пароль?</a>
    <button class="form__submit" type="submit">Войти</button>
}

@section scripts {
    @Html.Partial("_ValidationScriptsPartial")
}