@model Profile

@using (Html.BeginForm("UpdatePassword", "Auth", FormMethod.Post, new { @class = "form" }))
{
    <h2 class="form__title">Смена пароля</h2>
    <input class="form__input-invisible text-box single-line valid hi" 
           data-val="true" 
           id="login" 
           name="login" 
           value=@Model.User.Login
    />

    <input class="form__input text-box single-line password valid" 
           data-val="true" data-val-length="Пароль должен содержать не менее 5 символов" 
           data-val-length-max="100" data-val-length-min="5" data-val-required="введите пароль" 
            id="password" name="password" placeholder="Пароль" type="password" value="" 
           aria-required="true" aria-invalid="false" aria-describedby="password-error">
    <span class="field-validation-valid" data-valmsg-for="password" data-valmsg-replace="true"></span>

    <input class="form__input text-box single-line input-validation-error" data-val="true" 
           data-val-equalto="пароли не совпадают" data-val-equalto-other="password" 
           data-val-required="повторно введите пароль" id="User_ConfirmPassword" name="confirmPassword" 
           placeholder="повторите пароль" type="password" value="" aria-required="true" aria-invalid="true" a
           ria-describedby="confirmPassword-error">
    <span class="field-validation-error" data-valmsg-for="confirmPassword" data-valmsg-replace="true"><span id="confirmPassword-error" class="">пароли не совпадают</span></span>
    
    <button class="form__submit" type="submit">Сменить пароль</button>
}

@section scripts {
    @Html.Partial("_ValidationScriptsPartial")
}
