@model Profile

@using (Html.BeginForm("SignUp", "Auth", FormMethod.Post, new { @class = "form" }))
{
    <h2 class="form__title">Создать учетную запись</h2>

    @Html.Partial("User")

    <button class="form__submit" type="submit">Зарегистрироваться</button>
}

@section scripts {
    @Html.Partial("_ValidationScriptsPartial")
}