@model Profile
<div class="form">
    <h2 class="form__title">Подтверждение регистрации</h2>
    <p class="form__help">Мы отправили на твою почту (@Model.User.Email) ссылку подтверждения. Перейдите по ней чтобы завершить регистрацию</p>
</div>
