.search {
    align-items: center;
    border: 2px solid dodgerblue;
    display: inline-flex;
    flex-wrap: nowrap;
    font-size: 1.8em;
    height: 40px;
    justify-content: space-between;
    margin-top: 33px;
    vertical-align: top;
    width: 80%;
}

.search:hover {
    box-shadow: 0 0 14px -1px rgba(0, 0, 0, 0.3);
}
