.search__input {
    border: 0;
    flex-grow: 2;
    font: normal 1em Futura, Arial, sans-serif;
    height: 90%;
    outline: none;
    padding-left: 10px;
}

.search__input::placeholder {
    color: rgba(0, 0, 0, .3);
}
