.search-item {
    display: grid;
    margin-bottom: 30px;
    grid-column-gap: 12px;
    grid-template-rows: 3.4em auto;
    grid-template-columns: 140px auto;
    grid-template-areas: 'p t' 'p i';
    border-bottom: 1px solid rgba(0,0,0,.3);
    padding-bottom: 30px;
}
