@model Profile

<main>
    <div class="shot">
        <img class="shot__img" src="/images/neo.webp" alt="shot"/>
    </div>

    @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "search"}))
    {
        @Html.Partial("Profile")
        <button class="search__button" type="submit"></button>
    }
</main>
