@model Profile

<!DOCTYPE html>
<html>
<head>
    <meta lang="@Model.SearchConfig.Language"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>CinemaGuide</title>

    <environment include="Development">
        <link rel="stylesheet" href="/index.common.css"/>
        <script src="/common/page/page-search/page-search.js"></script>
        <script src="/common/switcher/__item/switcher__item.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="/index.common.min.css"/>
        <script src="/index.common.min.js"></script>
    </environment>

    @RenderSection("scripts", false)
</head>
<body>

<header class="menu">
    <h1 class="menu__title">
        <a class="link_header" href="/">CinemaGuide</a>
    </h1>

    <div class="menu__actions">
        @if (!User.Identity.IsAuthenticated)
        {
            <div class="menu__login">
                <a class="link_header" href="/auth/signup">Регистрация</a>
            </div>
            <div class="menu__login">
                <a class="link_header" href="/auth/login">Войти</a>
            </div>
        }
        else
        {
            <div class="menu__login">
                <a class="link_header" href="/profile">@User.Identity.Name</a>
            </div>
            <div class="menu__login">
                <a class="link_header" href="/auth/logout">Выйти</a>
            </div>
        }
        <button class="menu__lang button-default" type="button">Язык</button>
    </div>
</header>

<main class="main">
    @RenderBody()
</main>

<footer class="footer">
    <div class="footer__contacts">
        <a class="link_footer" href="/contacts">Контакты</a>
    </div>
    <div class="footer__creators">Артем Рыжкин<span class="footer__creators_separator">🎬</span>Александр Сатов</div>
    <div class="footer__year">2018</div>
</footer>

</body>
</html>
